html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  /* bottom footer height = 21px  */
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5 {
	line-height: 1.2;
}
