.SearchBox input {
  border-style: none !important;
  border-bottom-width: 2px !important;
  border-bottom-style: double !important;
  border-radius: 0px !important;
  text-align: center !important;
}
