.Coin {
  div {
    font-weight: 100 !important;
  }
}

.Card {
  margin-top: 10px !important;
  text-align: center !important;
}

.Ribbon {
  transition: all .1s ease-in-out;
  z-index: 10 !important;
}

.HeaderSpan {
  display: inline-block;
  transition: all .1s ease-in-out;
}

.RibbonHeader {
  &:Hover {
    .Header {
      background: #94cef1;
        .HeaderSpan {
          transform: scale(0.9);
        }
    }
    .Ribbon {
      transform: scale(1.1);
    }
  }
}
